nav#main-navbar {
  background-color:blue;
}
nav#main-navbar ul {
  list-style-type: none;
  margin:0;
  padding:0;
  overflow:hidden;
  position:relative;
  left:50%;
  float:left;
}
nav#main-navbar ul li {
  float:left;
  position:relative;
  right: 50%;
  display:block;
}
nav#main-navbar ul li a {
  display:block;
  text-decoration:none;
  padding: 10px 20px;
  color:#fff;
}
nav#main-navbar ul li a:hover {
  background-color:#000;
  text-decoration:underline overline;
}
nav#sidebar {
  position:fixed;
  right:0%;
  background:red;
  height:100%;
  width:20%;
}
nav#sidebar ul {
  list-style-type:none;
  text-align:center;
  padding:0;
}
nav#sidebar ul li {
  display:block;
  padding:15px 0;
  color:#fff;
  text-decoration:none;
}
nav#sidebar ul li a:hover {
  background-color:#000;
}