nav#main-navbar {
  background-color:blue;
}
nav#main-navbar ul {
  list-style-type: none;
  margin:0;
  padding:0;
  overflow:hidden;
}
nav#main-navbar ul li {
  float:left;
  padding: 10px 20px;
}
nav#main-navbar ul li a {
  display:block;
  text-decoration:underline overline;
  padding: 20px;
}
